#HiddenTrackback.hide-list{display:none;}
.comments-head a{clear:both;overflow:hidden;zoom:1;display:block;}
.comments-head a span{*float:left;}
#trackback-switch{color:black;cursor:pointer;width:13px;height:13px;display:inline-block;background-image:url(/web/20131226221657im_/http://l.yimg.com/e/serv/blog/img/ico_trackback_expand.jpg);margin-left:5px;*display:block;*margin-top:5px;}
#trackback-switch.hide{background-image:url(/web/20131226221657im_/http://l.yimg.com/e/serv/blog/img/ico_trackback_hide.jpg);}

/*
     FILE ARCHIVED ON 22:16:57 Dec 26, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:10:48 Dec 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.012
  RedisCDXSource: 6.162
  LoadShardBlock: 1385.486 (6)
  PetaboxLoader3.datanode: 1398.476 (7)
  exclusion.robots.policy: 0.127
  CDXLines.iter: 50.724 (3)
  exclusion.robots: 0.139
  load_resource: 112.422
  PetaboxLoader3.resolve: 46.123
*/