#HiddenTrackback.hide-list{display:none;}
.comments-head a{clear:both;overflow:hidden;zoom:1;display:block;}
.comments-head a span{*float:left;}
#trackback-switch{color:black;cursor:pointer;width:13px;height:13px;display:inline-block;background-image:url(/web/20131226221735im_/http://l.yimg.com/e/serv/blog/img/ico_trackback_expand.jpg);margin-left:5px;*display:block;*margin-top:5px;}
#trackback-switch.hide{background-image:url(/web/20131226221735im_/http://l.yimg.com/e/serv/blog/img/ico_trackback_hide.jpg);}

/*
     FILE ARCHIVED ON 22:17:35 Dec 26, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:27:03 Dec 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.023
  PetaboxLoader3.datanode: 330.042 (7)
  load_resource: 181.945
  exclusion.robots: 0.532
  LoadShardBlock: 382.47 (6)
  RedisCDXSource: 3.454
  CDXLines.iter: 80.779 (3)
  exclusion.robots.policy: 0.505
  PetaboxLoader3.resolve: 151.657 (3)
*/